@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PolySans Slim';
    src: url('./assets/fonts/PolySans-Slim.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PolySans Neutral';
    src: url('./assets/fonts/PolySans-Neutral.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'PolySans Median';
    src: url('./assets/fonts/PolySans-Median.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Tobias';
    src: url('./assets/fonts/Tobias-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
}

:root {
  --warm-grey-1: #f5f5f4;
  --black-a-100: #0d0d0d;
}

html,
body {
  background-color: var(--warm-grey-1);
  color: var(--black-a-100);
  font-family: "Polysans Slim", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and other WebKit browsers */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrolling-inverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.infinity-scroll-40s {
  animation: scrolling 40s linear infinite;
}

.infinity-scroll-35s {
  animation: scrolling 35s linear infinite;
}

.infinity-scroll-inverse-35s {
  animation: scrolling-inverse 35s linear infinite;
}

.outlined {
  color: #ffffff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: var(--black-a-100);
}


